pkgbase = Predator-Sense-systemd-git
	pkgdesc = The CLI implementation of Predator Sense for Acer Predator Helios laptops to control CPU/GPU fans and keyboard RGB color
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/JafarAkhondali/acer-predator-turbo-and-rgb-keyboard-linux-module
	install = Predator-Sense-systemd-git.install
	arch = any
	license = GPL3
	makedepends = gcc
	makedepends = make
	depends = linux-headers
	source = git+https://github.com/JafarAkhondali/acer-predator-turbo-and-rgb-keyboard-linux-module
	md5sums = SKIP

pkgname = Predator-Sense-systemd-git
